<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

<!-- 	<tx:annotation-driven /> -->
<!-- 	proxy-target-class=true -->
	<tx:annotation-driven proxy-target-class="true"
        transaction-manager="transactionManager" />
	
	<bean id="entityManagerFactory"
		  class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		
		<property name="dataSource" ref="dataSource" />
		
		<property name="packagesToScan">
			<value>pl.martitafilix.celebrities.domain</value></property>
		
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
			
				<property name="showSql"><value>true</value></property>
				<property name="databasePlatform">
					<value>org.hibernate.dialect.MySQLDialect</value></property>
			</bean>
		</property>
		
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>
	
	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
	
	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
	
	<bean id="transactionManager" 
		  class="org.springframework.orm.jpa.JpaTransactionManager">
		
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

</beans>